/* *, *::before, *::after {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
} */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    border: 0;
    color: var(--text-color-1);
    background-color: var(--background-2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color-1);
    -webkit-tap-highlight-color: transparent; /* Remove tap highlight on mobile */
}



.heading-1 {
    font-size: 40px;
}

.text-1 {
    color: whitesmoke;
}



.div-1 {
    margin-top: 66px;
    font-size: 20px;
    font-weight: 700;
    padding: 100px 4vw;
    color: black;
    background-color: #98d9e1;
    background-image: linear-gradient(315deg, #98d9e1 0%, #d6aed6 74%);
}



.finatikle-container {
    margin-top: 50px;
    padding-bottom: 50px;
    max-width: 1700px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 40px;
}

.column {
    flex: 30%;
    min-width: 300px;
    max-width: 900px;
    /* padding: 5px 5px; */
    border-radius: 20px;
    background-color: var(--card-background-1);
    box-shadow: var(--shadow-1);
}

.column-content {
    padding: 30px 20px;
}

.column img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    vertical-align: middle;
    width: 100%;
}

.column-heading {
    color: var(--text-color-1);
    font-size: 20px;
    font-weight: 900;
    padding: 15px 0px;
}

.column-text {
    color: var(--text-color-1);
    font-size: 17px;
    padding: 15px 5px;
}

.column-date {
    color: gray;
    font-weight: 700;
    padding: 20px 0px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}



.page-switcher-bar {
    width: 300px;
    margin: auto;
    padding: 20px 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    -webkit-tap-highlight-color: transparent;
}

.page-switch-button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: 900;
    color: var(--button-text-2);
    background-color: var(--button-background-2);
    border: 0px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}

.page-switch-button:hover {
    background-color: gray;
}

.inactive {
    color: gray;
    cursor: default;
}

.inactive:hover {
    color: gray;
    background-color: var(--button-background-2);
}

/* .month-name {
    height: 30px;
    padding: 5px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-button-text);
    background-color: var(--secondary-button-bg);
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
} */
.month-name {
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--button-text-2);
    background-color: var(--button-background-2);
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.month-name:hover {
    background-color: gray;
}